* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    font-family: "Inter", sans-serif;
}


header {
    display: flex;
    justify-content: space-between;
    padding: 40px 120px;
    align-items: center;

    & .logo {
        display: flex;
        gap: 7.99px;

        & img {
            width: 28px;
            height: 27px;
        }

        & p {
            font-weight: 600;
            size: 28px;
            line-height: 34.64px;
        }
    }

    & nav {
        display: flex;
        align-items: center;
        gap: 51px;

        & .select{
            font-weight: 600;
            color: #000;
        }

        & ul {
            display: flex;
            gap: 51px;
            size: 18px;
            line-height: 21.78px;
            font-weight: 400;
        }

        & button {
            display: flex;
            border-radius: 8px;
            padding: 8px;
            gap: 8px;
            background: #1F1F39;
            color: #ffff;
        }
    }
}

main {
    & .home {

        display: flex;
        padding: 120px;
        gap: 60px;

        & .ladoesquerdo {
            display: flex;
            flex-direction: column;
            gap: 29px;


            & h1 {
                font-weight: 700;
                size: 70px;
                color: #1F1F39;
            }

            & .text {
                display: flex;
                flex-direction: column;
                gap: 50px;

                & p {
                    color: #1F1F39B2;
                }

                & button {
                    width: 50%;
                    background: #1F1F39;
                    padding: 10.87px;
                    gap: 10.87px;
                    border-radius: 10.87px;
                    opacity: 0px;
                    color: #ffff;
                    border: none;
                }
            }
        }

        & .ladodireito{ 
            width: 50%;
        }
    }

    & .portfolio {
        display: flex;
        flex-direction: column;
        top: 927px;
        padding: 120px;
        gap: 29px;

        & .projects{
            display: flex;
            flex-direction: column;
            gap: 109px;
        }

        & h2 {
            width: 55%;
            display: flex;
            font-weight: 500;
            size: 40px;
            line-height: 30px;
            gap: 25px;
        }

        & .cards {
            display: flex;
            flex-wrap: wrap;
            gap: 109px;

            & p {
                font-weight: 700;

                & span {
                    font-weight: 400;
                }
            }

            & .card{
                display: flex;
                flex-direction: column;
                gap: 25px;
            }
        }
    }

    & .aboutus {
        width: 100%;
        display: flex;
        flex-direction: column;
        padding: 200px 120px;
        background-color: #000;
        color: #ffff;
        gap: 29px;

        & h3 {
            size: 22px;
            line-height: 26px;
            font-weight: 400;
        }

        & .content {
            display: flex;
            flex-direction: column;
            gap: 55px;

            & p {
                width: 40%;
                size: 40px;
                font-weight: 500;
                line-height: 30px;
            }

            & button {
                width: 13%;
                padding: 10.87px;
                gap: 10.87px;
                border-radius: 10.87px;
                font-weight: 700;
            }
        }
    }
}

& footer {
    width: 100%;
    display: flex;
    background: #000;
    padding: 50px 120px;
    justify-content: space-between;
    border-top: 1px;

    & p {
        color: #ffffff80;
        font-weight: 400;
    }

    & .img {
        display: flex;
        gap: 30px;
    }
}

@media screen and (max-width:500px) {
    header{
        nav{
            ul{
                display: none;
            }
        }
    }
    
}

@media screen and (max-width: 500px) {
    main{
        
        & .home{
            display: flex;
            flex-direction: column-reverse;
        }
    }
    
}